@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-form-item-label {
  @apply text-xl;
}
.ant-form-item-label label.ant-form-item-required::before {
  display: none !important;
}
.ant-switch {
  @apply bg-t-primary-color;
}

.ant-switch-inner {
  @apply hover:bg-t-primary-color;
}

.ant-form-item-label > label {
  @apply text-t-text-color !important;
}

.ant-input {
  @apply bg-t-input-color !important;
  @apply text-t-text-color !important;
}

.ant-input-affix-wrapper {
  @apply bg-t-input-color !important;
  @apply text-t-text-color !important;
}

.ant-table {
  background-color: transparent !important;
}

.ant-table,
.ant-table table,
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table-summary {
  font-size: 12px !important;
  border-color: var(--border-color-base) !important;
  background-color: var(--bg-color);
  outline: none !important;
}

.ant-table * {
  border-color: var(--border-color-base) !important;
}

.ant-table-tbody > tr.ant-table-row:nth-child(odd) > td {
  background-color: var(--table-even-row);
}

.ant-table-row:nth-child(even) > td {
  background-color: var(--table-odd-row);
  @apply hover:bg-t-bg-table-odd;
}
.ant-table-row:nth-child(odd) > td {
  background-color: var(--table-odd-row);
  @apply hover:bg-t-bg-table-even;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: var(--table-hovered-row) !important;
}

.ant-table-thead > tr > th {
  background-color: var(--layer-bg-color) !important;
  color: var(--text-color) !important;
}

.ant-pagination-item-active {
  @apply bg-t-bg-color border-t-primary-color text-t-text-color !important;
}

.ant-pagination-item {
  background-color: #f0f0f0;
  border-color: #d9d9d9;
  color: #333;
}

.ant-pagination-item:hover {
  @apply bg-t-primary-color  text-t-text-color !important;
}
